# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\tester\python_proto_tool\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
